.h4 {
  margin-bottom: 5px;
}
.debounce-input {
  padding-left: 20;
  margin-right: 2px; 
  width: 400px;
  text-align: center;
}

.right-box {
  width: 50%;
  border: 1px solid lightgray;
  margin-top: 20px;
  padding: 20px;
}